<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>updateType</display-name>
    <servlet-name>updateType</servlet-name>
    <servlet-class>serverlet.updateType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateType</servlet-name>
    <url-pattern>/updateType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>serverlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>serverlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateNewsServlet</display-name>
    <servlet-name>updateNewsServlet</servlet-name>
    <servlet-class>serverlet.updateNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateNewsServlet</servlet-name>
    <url-pattern>/updateNewsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserMessageUpdateServlet</display-name>
    <servlet-name>UserMessageUpdateServlet</servlet-name>
    <servlet-class>serverlet.UserMessageUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserMessageUpdateServlet</servlet-name>
    <url-pattern>/UserMessageUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateUserServlet</display-name>
    <servlet-name>updateUserServlet</servlet-name>
    <servlet-class>serverlet.updateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateUserServlet</servlet-name>
    <url-pattern>/updateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateApplyServlet</display-name>
    <servlet-name>updateApplyServlet</servlet-name>
    <servlet-class>serverlet.updateApplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateApplyServlet</servlet-name>
    <url-pattern>/updateApplyServlet</url-pattern>
  </servlet-mapping>
</web-app>